:root {
  --icolor: #ba944d;
}
* {
  cursor: none !important;
}
body {
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, rgb(20, 30, 48));
  position: relative;
}
.custom-cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
  0 0 7px rgba(53, 52, 52, 0.8);
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
h4,
i {
  color: var(--icolor);
}

#Registration .box {
  background: #ada996;
  background: -webkit-linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  border-radius: 20px;
  width: 500px;
  margin: auto;
  position: relative;
}

.back {
  position: absolute;
  top: 30px;
  right: 30px;
  /* cursor: pointer; */
  font-size: 20px;
}
.back:hover {
  transition-duration: 1s;
  transform: rotate(-360deg);
}
#Search .input-group {
  width: 300px;
  margin: auto;
}
.data {
  background-color: #fff3cd;
  text-align: center;
  color: #54420b;
}
#Popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
#Popup.active {
  opacity: 1;
  z-index: 3;
  pointer-events: initial;
}
#Popup .content {
  background-color: black;
  color: red;
  text-align: center;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 8px red;
}
